body{ 
    color: rgb(255, 255, 255);
    background-image: url("../images/fond.jpg") ;
}

h1,h2,p,body{ 
font-family: "Oswald";
font-optical-sizing: auto;
}

h1{
    text-align: center;
    font-size:  75px;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
p{
    font-size: 30px;
}
form{
    font-size: 30px;
}
.verif{
    font-size: 50px;
    text-align: center;
}

.valider1{
    margin-left: 95%;
    margin-top:auto ;
    display: inline-block;
  background-image: url(../images/gris.jpg);
  color: #ffffffc5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  font-family: "Oswald";
}
.nouvellehist1{
    margin-left: 88%;
    margin-top:22% ;
    display: inline-block;
  background-image: url(../images/gris.jpg);
  color: #ffffffc5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  font-family: "Oswald";
}

.nouvellehist2{
  margin-left: 88%;
  margin-top:22% ;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}

.nouvellehist3{
  margin-left: 88%;
  margin-top:22% ;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}

.nouvellehist4{
  margin-left: 88%;
  margin-top:7% ;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}

.pagesuiv{
    margin-left: 93%;
    margin-top:4%;
    display: inline-block;
  background-image: url(../images/gris.jpg);
  color: #ffffffc5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  font-family: "Oswald";
}
.pagesuivichapinter{
  margin-left: 93%;
  margin-top:25%;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}


.pagesuivindex{
  margin-left: 93%;
  margin-top:31%;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}
.pagesuivverif{
  margin-left: 93%;
  margin-top:26%;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}

.retour{
    margin-left: 1380px;
    margin-top:638px ;
    display: inline-block;
  background-image: url(../images/gris.jpg);
  color: #ffffffc5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 13px;
  font-family: "Oswald";
}
.retourverif{
  margin-left: 95%;
  margin-top:40% ;
  display: inline-block;
background-image: url(../images/gris.jpg);
color: #ffffffc5;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 13px;
font-family: "Oswald";
}

.ouinon{
margin-left: 48%;
}

#username{
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Oswald";
}

#username:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#ecusson {
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Oswald";
  margin-left: 44%;
  margin-bottom: auto;
  background-image: url(../images/blue.jpg);
}



#ecusson select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  outline: none;
  background-image: url(../images/blue.jpg);
}


.imagerc{
  margin-left: 23%;
}